#actions-container {
    display: flex;
    justify-content: center;
  }
  
  #actions-container button {
      background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(255, 0, 250, 1) 100%
      );
      color: #ccc;
      margin: 0 10px;
      padding: 7px 15px;
      border-radius: 2px;
      border: none;
      outline: none;
      font-size: 1.2rem;
      cursor: pointer;
  }
  
  #actions-container button:hover {
    box-shadow: 0 2px 16px rgba(255, 255, 255, 0.5);
  }