#session-container {
    border: 5px solid rgba(0, 255, 255);
    width: 300px;
    margin: 35px auto;
    border-radius: 25px;
    box-shadow: 0 0 25px 2px #0ff;
  }
  
  .session-timer {
    margin: 0 0 20px 0;
    font-size: 5rem;
    color: #ffffff;
    font-weight: 400;
  }
  
  .session-header {
    margin-top: 20px;
  }
  
  #colon {
    position: relative;
    bottom: 7px;
    margin: 0 8px;
  }
  
  .timer-alert {
    color: #C44949;
  }